@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@250&family=Rambla&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-logo {
  width: 3.5rem;
  height: 3.2rem;
}
hr {
  height: 3px !important;
}
h1 {
  font-size: 3rem;
  font-family: 'Audiowide', sans-serif;
}
.page-item > a {
  background-color: rgb(46, 46, 46);
  color: aliceblue;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}
.dropdown-menu {
  background-color: grey;
}
.dropdown-menu > li {
  font-size: 1.1rem;
}
.dropdown-item:hover {
  color: whitesmoke;
  background-color: rgb(50, 50, 50);
}
h2 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  font-weight: 100;
  font-family: 'Russo One', sans-serif;
}
.page-item.active > a {
  cursor: default;
}
.reseaux {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.reseaux li {
  list-style: none;
}
.reseaux > li:hover {
  transition: all 1.2s;
  transform: scale(1.06);
}
#accueil p {
  color: whitesmoke;
}
/*---------------------Accueil--------------------------*/
.container-first {
  position: absolute;
  top: 29%;
  left: 12%; 
}
h1.accueil {
  text-transform: uppercase;
  font-size: 6.5rem;
  color: #ffffff;
  font-family: 'Audiowide', sans-serif;
  text-shadow: 2px 2px black;
}
h1.accueil span {
  position: relative;
}
.main-body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url('./pic/pic-bg.jpg') 10%;
  background-size: cover;
  position: relative;
}
.container-btns {
  position: relative;
  top: 50px;
  margin-top: 4rem;
}
.btn-first {
  border: 2px solid #f1f1f1;
  outline: none;
  border-radius: 0.6rem;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: #f1f1f1;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
  margin-right: 30px;
}
.btn-first > a { 
  text-decoration: none;
  color: #f1f1f1;
  text-shadow: 1px 1px black;
}
.btn-first:hover > a { 
  color: #121212;
}
.btn-first:hover {
  transition: all 0.6s ease-in-out;
  background: #f1f1f1;
  color: #333;
}
.lignes {
  position: absolute;
  top: 15%;
  left: 2%;
  text-shadow: 2px 2px black;
}
.l1 {
  width: 145px;
  height: 6px;
  margin-left: 6rem;
  background: #f1f1f1;
  border-radius: 5px;
}
.l2 {
  position: relative;
  width: 140px;
  height: 6px;
  background: #f1f1f1;
  border-radius: 5px;
  top: 5rem;
  transform: rotate(90deg);
}
.logo-medias {
  width: 40px;
  height: 40px;
}
.logo {
  position: absolute;
  right: 6%;
  top: 9%;
  width: 8rem;
}
.medias {
  list-style-type: none;
  position: absolute;
  right: 8%;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.bulle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
  transition: all 0.6s ease-in-out;
}
.bulle:hover {
  transform: scale(1.1);
}
#accueil {
  position: relative;
  bottom: -36rem;
}
#accueil > nav > ul > li > a {
  background-color: #2a2a2a;
  border: 1px solid #121212;
}
#accueil > nav > ul > li.active > a {
  background-color: #2a2a2a;
  color: #000000;
}
#accueil > nav > ul > li > a:hover {
  background-color: #1a202f;
  color: aliceblue;
}
#accueil > nav > ul > li.active > a:hover {
  background-color: #2a2a2a;
  color: #000000;
  cursor: default;
}

/*----------------------galerie---------------------------*/
.gal-nav {
  margin-left: 40%;
  padding-bottom: 2rem;
}
.ap-left  {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 4rem;
  animation: pic-anim-left 6s ease-in-out infinite;
}
.ap-right {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 4rem;
  float: right;
  animation: pic-anim-right 6s ease-in-out infinite;
}
@keyframes pic-anim-left {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: translateX(75vw);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes pic-anim-right {
  0% {
    transform: rotate(-270deg);
  }
  50% {
    transform: translateX(-75vw);
  }
  100% {
    transform: rotate(-270deg);
  }
}
.gal-nav ul {
  width: 1px;
  list-style: none;
  perspective: 500px;
}
.gal-nav ul:hover li:not(:hover){
  opacity: .5;
}
.gal-nav > ul > li {
  transform: rotatey(30deg) scaleX(1.3);
  transform-origin: left;
  transition: .3s;
}
.gal-nav > ul > li:hover {
  transform: rotateY(3deg);
}
.gal-nav > ul > li a {
  font-size: 4rem;
  line-height: 1;
  text-decoration: none;
  color: #222;
  opacity: .6;
}
.gal-nav > ul > li a.active,
.gal-nav > ul > li a:hover {
  opacity: 1;
}
.gal-tittle {
  font-size: 5.4rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-shadow: 2px 3px grey;
}
h2.m-5.title {
  text-shadow: 2px 2px grey;
  margin-top: 0 !important;
  padding-top: 4rem;
}
.carousel {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item > img {
  border-radius: 0.5rem;
}
.carousel-indicators > button {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
   scale: 1.2;
}
.gal-btns {
  text-decoration: none !important;
  color: #e7e7e7 !important;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#search-container input {
  background-color: transparent;
  width: 55%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #6759ff;
}
#search-container button {
  padding: 0.8em 1.2em;
  margin-left: 1em;
  background-color: #0051ff;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 0.5em;
  box-shadow: 2px 2px grey;
}
#search-container button:hover, .button-value:hover {
  transform: scale(1.04);
}
.buttons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.button-value {
  border: 2px solid #0051ff;
  padding: 1em 1.5em;
  border-radius: 2em;
  margin-top: 1rem;
  background-color: transparent;
  color: #3a3a3a;
  cursor: pointer;
}
.button-value.active {
  background-color: #3e3e3e;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: #ffffff;
  max-width: 28rem;
  margin-top: 1em;
  padding: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.card.bébé img, .card.famille img, .card.grossesse img, .card.baptême img,.card.mariage img, .card.couple img, .card.portrait img {
  width: 100%;
  max-height: 22rem;
  object-fit: cover;
  border-radius: 4px;
}
.container {
  padding-top: 8px;
  color: #110f29;
  text-align: center;
}
.container h5 {
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 0;
}
.container h6 {
  margin-bottom: 0;
}
.hide {
  display: none;
}

/*---------------------Tarifs--------------------------*/

#tarifs {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-shadow: 2px 2px grey;
}
.header-tarif-img {
  width: 100%;
  max-height: 34rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 4rem;
}
.tarif-h2 {
  font-size: 2.3rem;
  margin-top: 0;
  padding-top: 4rem;
}
.tarif-h2 ~ p {
  font-size: 1.3rem;
}
.tarif-h2 + p {
  font-size: 1.5rem;
  font-weight: 700;
}
.timeline {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #9b9b9b, #2e4afe);
  border-image-slice: 1;
  padding-bottom: 2rem;
  position: relative;
  z-index: 800;
}
.timeline:nth-child(1):after {
  content: '▲';
  color: #60783c;
  position: absolute;
  top: -10px;
  right: -8.5px;
  box-sizing: content-box !important;
}
.timeline:nth-child(1) {
  border-bottom: 3px solid;
  border-top: none;
  width: 85%;
}
.timeline:nth-child(2) {
  border-top: none;
  margin-left: 8%;
}
.timeline:nth-child(odd) {
  border-right: 3px solid;
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 0;
}
.timeline:nth-child(even) {
  border-left: 3px solid;
  margin-left: 8%;
  margin-right: 8%;
  padding-right: 0;
}
.tarif-bg {
  background-image: url('./pic/flower.png');
  background-size: cover;
  background-position: 60%;
}
th.m-5.tarif {
  margin-bottom: 0;
}
.tarif-sep {
  margin: 0;
}
/*---------------------------contact-------------------------------------*/

#contact {
  font-size: 4.8rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-shadow: 2px 2px grey;
}
.contact-left  {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 4rem;
  margin-left: 2rem;
  animation: anim-left 6s ease-in-out infinite;
}
.contact-right {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 4rem;
  float: right;
  margin-right: 2rem;
  transform: rotate(260deg);
  animation: anim-right 6s ease-in-out infinite;
}
@keyframes anim-left {
  50% {
    transform: translateX(60vw) rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes anim-right {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: translateX(-60vw);
  }
  100% {
    transform: rotate(-130deg);
  }
}
.contact-h2 {
  font-size: 1.5rem;
}
.form-label {
  font-weight: bolder;
}
.form-control {
  border: 1.6px solid black;
}
#alert{
  width: 90%;
  text-align: center;
  background-color: #202020;
  color: #ffffff;
  position: relative;
  margin: auto;
  display: none;
  margin-bottom: 1rem;
}
.com-ancre > p {
    font-size: 1.7rem;
}
.com-ancre > h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-btns {
  margin: 2rem;
}
.form-btns > button, .form-btns > a > .btn {
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
}
.form-btns > button > a {
  text-decoration: none;
}
.form-check-input {
  border: 3px solid black;
}

/*----------------------------Responsive-----------------------------------*/
@media screen and (max-width:1300px) {
  h1.accueil {
    font-size: 5rem;
  }
  .btn-first {
    font-size: 2rem;
    width: 250px;
    margin-top: 0.1rem;
  }
}
@media screen and (max-width: 1000px) {
  #products {
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
  }
  .button-value {
    padding: 0.3em 0.5em;
  }
  .gal-nav {
    margin-left: 16rem;
  }
  .card.bébé img, .card.famille img, .card.grossesse img, .card.baptême img,.card.mariage img, .card.couple img, .card.portrait img {
    height: 14em;
  }
  .card {
    max-width: 16rem;
  }
  h1.accueil {
    font-size: 4rem;
  }
  .btn-first {
    font-size: 2rem;
    width: 150px;
    margin-top: 0.1rem;
  }
  .container-first {
    top: 34%;
  }
}
@media screen and (max-width: 720px) {
  .card.bébé img, .card.famille img, .card.grossesse img, .card.baptême img,.card.mariage img, .card.couple img, .card.portrait img {
    height: 10em;
  }
  .card {
    max-width: 12rem;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
@media screen and (max-width:600px) {
  .lignes {
    position: relative;
    top: 8%;
    left: -3.5rem;
  }
  .l1 {
    width: 145px;
    height: 6px;
    margin-left: 6rem;
    background: #f1f1f1;
    border-radius: 5px;
  }
  .l2 {
    position: relative;
    width: 120px;
    height: 6px;
    background: #f1f1f1;
    border-radius: 5px;
    top: 2rem;
    transform: rotate(0deg);
    transform: translateX(80px);
  }
  .main-body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('./pic/bg.jpg') repeat 42%;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  .medias {
    overflow: hidden;
    position: relative;
    right: -2rem;
    flex-direction: row;
    top: 17rem;
  }
  .bulle {
    width: 60px;
    height: 60px;
  }
  .container-btns {
    width: auto;
    margin: 0;
    display: block;
  }
  .btn-first {
    font-size: 1.5rem;
    width: 70%;
    margin-top: 0.1rem;
    margin-left: 15%;
    padding: 6px;
  }
  footer {
    padding-bottom: 2px;
  }
  .container-first {
    position: relative;
    margin-left: -3rem;
    padding: 0;
    width: 99%;
    top: 22%;
  }
  h1.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    font-size: 2.5rem;
    letter-spacing: -2px;
  }
  .logo {
    position: relative;
    float: right;
    top: -18rem;
    width: 6rem;
  }
  #accueil {
    position: relative;
    bottom: -13rem;
  }
  .gal-nav {
    margin-left: 6%;
    padding: 6px;
  }
  .card.bébé img, .card.famille img, .card.grossesse img, .card.baptême img,.card.mariage img, .card.couple img, .card.portrait img {
    height: 24rem;
  }
  #products {
    grid-template-columns: auto;
  }
  .card {
    background-color: #ffffff;
    max-width: 22rem;
    margin-top: 1em;
  }
  .card.bébé img, .card.famille img, .card.grossesse img, .card.baptême img,.card.mariage img, .card.couple img, .card.portrait img {
    max-height: 18rem;
  }
}